[submodule "docs/source/_themes"]
	path = docs/source/_themes
	url = https://github.com/mitsuhiko/flask-sphinx-themes
[submodule "vagrant-assesment/puppet/modules/vcsrepo"]
	path = vagrant-assesment/puppet/modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "vagrant-assesment/puppet/modules/stdlib"]
	path = vagrant-assesment/puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "vagrant-assesment/puppet/modules/concat"]
	path = vagrant-assesment/puppet/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "vagrant-assesment/puppet/modules/supervisord"]
	path = vagrant-assesment/puppet/modules/supervisord
	url = https://github.com/ajcrowe/puppet-supervisord.git
